In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# File to Load
file_to_load = 'Resources/Pymoli.csv'

In [3]:
# Read the file and store in a Pandas Data Frame
pymoli = pd.read_csv(file_to_load)
pymoli_df = pd.read_csv(file_to_load, encoding='utf-8')
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Display the total number of players
player_count = len(pymoli_df['SN'].unique())
summary_df = pd.DataFrame({'Total Players': [player_count]})
summary_df

   Total Players
0            576

In [5]:
# Purchasing Analysis totals:

# Find number of unique items, average price, number of purchases, revenue
item_count = len(pymoli_df['Item Name'].unique())
avg_price = pymoli_df['Price'].mean()
purchase_tally = (pymoli_df['Purchase ID']).count()
revenue = (pymoli_df['Price']).sum()

# Display the summary data frame
summary2_df = pd.DataFrame({"Number of Unique Items": [item_count],
                           "Average Price": (avg_price),
                           "Number of Purchases": [purchase_tally],
                           "Revenue": [revenue]})
summary2_df["Average Price"] = summary2_df["Average Price"].map("${:,.2f}".format)
summary2_df["Revenue"] = summary2_df["Revenue"].map("${:,.2f}".format)
summary2_df

   Number of Unique Items Average Price  Number of Purchases    Revenue
0                     179         $3.05                  780  $2,379.77

In [6]:
# Gender Demographics:
# Find percentage and count of male players
# Find percentage and count of female players
# Find percentage and count of other/non-disclosed players

In [7]:
#Drop the duplicate SN from the list sorted by gender
combined_df = pymoli_df[['Gender', 'SN']].drop_duplicates()
combined_df

     Gender             SN
0      Male        Lisim78
1      Male    Lisovynya38
2      Male     Ithergue48
3      Male  Chamassasya86
4      Male      Iskosia90
..      ...            ...
773    Male         Hala31
774    Male     Jiskjask80
775  Female     Aethedru70
777    Male     Yathecal72
778    Male        Sisur91

[576 rows x 2 columns]

In [8]:
#Find the count of each gender category
count = combined_df['Gender'].value_counts()

In [9]:
#Find the percent of each gender category
count_percent = combined_df['Gender'].value_counts(normalize=True).map("{:,.2%}".format)

In [10]:
#Combine the count and percent onto one DataFrame
gender_df = pd.DataFrame({"Total Count": count, "Percentage of Players": count_percent})
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [11]:
# Purchasing analysis by Gender:
# First, sort by gender from the original DataFrame
gender_analysis = pymoli.groupby('Gender')

# Obtain purchase count, avg. purchase price, avg. purchase total per person by gender
purchase_count = gender_analysis['Purchase ID'].count().drop_duplicates()
avg_purchase_price = gender_analysis['Price'].mean()
total_purchase = gender_analysis['Price'].sum()
avg_price_ea = total_purchase/count

# Display the summary data frame
summary3_df = pd.DataFrame({"Purchase Count": purchase_count,
                           "Average Purchase Price": avg_purchase_price,
                           "Average Price Spent": avg_price_ea,
                           "Total Purchase per Gender": total_purchase})
# Correct your formatting!
summary3_df["Average Purchase Price"] = summary3_df["Average Purchase Price"].map("${:,.2f}".format)
summary3_df["Average Price Spent"] = summary3_df["Average Price Spent"].map("${:,.2f}".format)
summary3_df["Total Purchase per Gender"] = summary3_df["Total Purchase per Gender"].map("${:,.2f}".format)
summary3_df

,Purchase Count,Average Purchase Price,Average Price Spent,Total Purchase per Gender
Gender,,,,
Female,113,$3.20,$4.47,$361.94
Male,652,$3.02,$4.07,"$1,967.64"
Other / Non-Disclosed,15,$3.35,$4.56,$50.19

In [23]:
# Age Demographics:

# Establish bins for age and categorize the players using the age bins
bins = [0, 10, 14, 19, 24, 29, 34, 39, 200]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Calc the numbers and percentages by age group
pymoli["Age Group"] = pd.cut(pymoli["Age"], bins, labels=group_names, include_lowest=True)

group_age = pymoli.groupby("Age Group")
total_age = group_age['SN'].nunique().drop_duplicates()
percent_age = total_age/player_count

# Create a summary data frame for the results
age_demo_df = pd.DataFrame({"Total Count": total_age, "Percentage of Players within Age Group": percent_age})

# Correct your formatting!
age_demo_df["Percentage of Players within Age Group"] = age_demo_df["Percentage of Players within Age Group"].map("{:,.2%}".format)
age_demo_df

           Total Count Percentage of Players within Age Group
Age Group
<10                 24                                  4.17%
10-14               15                                  2.60%
15-19              107                                 18.58%
20-24              258                                 44.79%
25-29               77                                 13.37%
30-34               52                                  9.03%
35-39               31                                  5.38%
40+                 12                                  2.08%

In [13]:
# Purchasing Analysis by Age:
# Bin the purchase data df by age -- I used my previous binning
age_analysis = pymoli.groupby('Age Group')

# Run basic calcs to obtain puchase count, avg. pur price, avg. pur total per person, etc
purchase_count = age_analysis['Purchase ID'].count().drop_duplicates()
avg_purchase_price = age_analysis['Price'].mean()
total_purchase = age_analysis['Price'].sum()
avg_price_ea = total_purchase/purchase_count

# Create a summary data frame
summary4_df = pd.DataFrame({"Purchase Count": purchase_count,
                           "Average Purchase Price": avg_purchase_price,
                           "Average Price Spent": avg_price_ea,
                           "Total Purchase per Age": total_purchase})

# Correct your formatting!
summary4_df["Average Purchase Price"] = summary4_df["Average Purchase Price"].map("${:,.2f}".format)
summary4_df["Average Price Spent"] = summary4_df["Average Price Spent"].map("${:,.2f}".format)
summary4_df["Total Purchase per Age"] = summary4_df["Total Purchase per Age"].map("${:,.2f}".format)
summary4_df

,Purchase Count,Average Purchase Price,Average Price Spent,Total Purchase per Age
Age Group,,,,
<10,32,$3.40,$3.40,$108.96
10-14,19,$2.68,$2.68,$50.95
15-19,136,$3.04,$3.04,$412.89
20-24,365,$3.05,$3.05,"$1,114.06"
25-29,101,$2.90,$2.90,$293.00
30-34,73,$2.93,$2.93,$214.00
35-39,41,$3.60,$3.60,$147.67
40+,13,$2.94,$2.94,$38.24

In [14]:
# Top 5 Spenders:
spend_analysis = pymoli.groupby('SN')

# Run calcs to obtain purchase count, avg purchase price, total purchase value by SN
purchase_count = spend_analysis['Purchase ID'].count()
avg_purchase_price = spend_analysis['Price'].mean()
total_purchase = spend_analysis['Price'].sum()

# Create a summary data frame
summary5_df = pd.DataFrame({"Purchase Count": purchase_count,
                           "Average Purchase Price": avg_purchase_price,
                           "Total Purchase Value": total_purchase})

# Correct your formatting!
summary5_df = summary5_df.sort_values(["Total Purchase Value"], ascending=False).head()
summary5_df["Average Purchase Price"] = summary5_df["Average Purchase Price"].map("${:,.2f}".format)
summary5_df["Total Purchase Value"] = summary5_df["Total Purchase Value"].map("${:,.2f}".format)
summary5_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [15]:
# Most Popular items:

popular_analysis = pymoli.groupby(['Item ID', 'Item Name'])

# Run calculations for purchase count, item price, and total purchase value
purchase_count = popular_analysis['Purchase ID'].count()
purchase_price = popular_analysis['Price'].mean()
total_purchase = popular_analysis['Price'].sum()

# Create a summary data frame
summary6_df = pd.DataFrame({"Purchase Count": purchase_count,
                           "Item Price": purchase_price,
                           "Total Purchase Value": total_purchase})

# Correct your formatting!
summary6_df = summary6_df.sort_values(["Purchase Count"], ascending=False).head()
summary6_df["Total Purchase Value"] = summary6_df["Total Purchase Value"].map("${:,.2f}".format)
summary6_df["Item Price"] = summary6_df["Item Price"].map("${:,.2f}".format)
summary6_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [16]:
# Most profitable
profit_analysis = pymoli.groupby(['Item ID', 'Item Name'])

# Run calculations for purchase count, item price, and total purchase value
purchase_count = profit_analysis['Purchase ID'].count()
purchase_price = profit_analysis['Price'].mean()
total_purchase = profit_analysis['Price'].sum()

# Create a summary data frame
summary7_df = pd.DataFrame({"Purchase Count": purchase_count,
                           "Item Price": purchase_price,
                           "Total Purchase Value": total_purchase})

# Correct your formatting!
summary7_df = summary7_df.sort_values(["Total Purchase Value"], ascending=False).head()
summary7_df["Total Purchase Value"] = summary7_df["Total Purchase Value"].map("${:,.2f}".format)
summary7_df["Item Price"] = summary7_df["Item Price"].map("${:,.2f}".format)
summary7_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80