In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# File to Load
file_to_load = "Resources/Pymoli.csv"

In [7]:
# Read the file and store in a Pandas Data Frame
pymoli = pd.read_csv(file_to_load)
pymoli_df = pd.read_csv(file_to_load, encoding="utf-8")
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
# Display the total number of players
player_count = len(pymoli_df["SN"].unique())
print.player_count()

AttributeError: 'builtin_function_or_method' object has no attribute 'player_count'