In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# File to Load
file_to_load = 'Resources/Pymoli.csv'

In [3]:
# Read the file and store in a Pandas Data Frame
pymoli = pd.read_csv(file_to_load)
pymoli_df = pd.read_csv(file_to_load, encoding='utf-8')
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Display the total number of players
player_count = len(pymoli_df['SN'].unique())
summary_df = pd.DataFrame({'Total Players': [player_count]})
summary_df

   Total Players
0            576

In [1]:
# Purchasing Analysis totals:
# Find number of unique items, average price, number of purchases, revenue
# Display the summary data frame
item_count = len(pymoli_df['Item Name'].unique())
avg_price = round(pymoli_df['Price'].mean(), 2)
purchase_tally = (pymoli_df['Purchase ID']).count()
revenue = (pymoli_df['Price']).sum()
summary2_df = pd.DataFrame({"Number of Unique Items": [item_count],
                           "Average Price": [avg_price],
                           "Number of Purchases": [purchase_tally],
                           "Revenue": [revenue]})
summary2_df

NameError: name 'pymoli_df' is not defined